<h1><Create Poem></h1>
  
<form action="/poems/new" method="post">
     <div>
        <label for="username">Username: </label>
        <input type="text" name="user[username]" id="username">
    </div>
    <div>
        <label for="name">Name: </label>
        <input type="text" name="user[name]" id="name">
    </div>
    <div>
        <label for="age">Age: </label>
        <input type="text" name="user[age]" id="age">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" name=user[password] id="password">
    </div>
    <input type="submit" value="Create User">
</form>
   