<h1><Create Poem></h1>
  
<form action="/poems/new" method="post">
    <div>
        <label for="title">Title: </label>
        <textarea id="title" name="title" rows="auto" column="10">
Place Title Here!
        </textarea>
    </div>
    <div>
        <label for="content">Content: </label>
        <textarea id="content" name="content" rows="auto" column="20">
Type your poem in here!
        </textarea>
    </div>
    <input type="submit" value="Publish Poem">
</form>

   