<h1>User Login</h1>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="username">Username: </label>
    <input type="text" name="user[username]" id="username" value="<%= @user.username %>">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="text" name="user[password]" id="password" value="<%= @user.password %>">
  </div>
  <input type="submit" value="login">
</form>
